.faq_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 0 1rem;
    overflow: hidden;
}

.faq_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq_title{
    margin-bottom: 1.5rem;
}

.faq_title h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.25px;
    text-transform: capitalize;
    color: #263238;
}



.faq_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px 42px;
    width: 1192px;
    height: auto;
    background: #F7FAFF;
    border-radius: 5px;
    position: relative;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.faq_question{
    transition: all 0.3s ease-in-out;
}

.faq_answer{
    display: none;
    transition: all 0.3s ease-in-out;
}

.close_faq{
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@media (max-width: 920px) {
    .faq_item {
        width: 100%;
        padding: 26px 15px;
    }

    .faq_question h3{
        font-size: 16px;
    }
}